{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="{% static 'img/Logo.png' %}"
                                             style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We are Cocatail Party Team</h4>
                                    </div>
                                    <p>Inicia sesión</p>

                                    <form method="post" action="{% url 'login' %}">
                                        {% csrf_token %}

                                        <div class="form-outline mb-4">
                                            <div class="login-form-control">
                                                <input type="text" name="username" required="">
                                                <label>
                                                    <span style="transition-delay:0ms">U</span><span
                                                        style="transition-delay:50ms">s</span><span
                                                        style="transition-delay:100ms">u</span><span
                                                        style="transition-delay:150ms">a</span><span
                                                        style="transition-delay:200ms">r</span><span
                                                        style="transition-delay:250ms">i</span><span
                                                        style="transition-delay:300ms">o</span>
                                                </label>
                                            </div>

                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <div class="login-form-control">
                                                <input type="password" name="password" required="">
                                                <label>
                                                    <span style="transition-delay:0ms">C</span><span
                                                        style="transition-delay:50ms">o</span><span
                                                        style="transition-delay:100ms">n</span><span
                                                        style="transition-delay:150ms">t</span><span
                                                        style="transition-delay:200ms">r</span><span
                                                        style="transition-delay:250ms">a</span><span
                                                        style="transition-delay:300ms">s</span><span
                                                        style="transition-delay:350ms">e</span><span
                                                        style="transition-delay:400ms">ñ</span><span
                                                        style="transition-delay:450ms">a</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="login_button">
                                                Log in
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center login_gradient">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">Esto no va solo de fiestas</h4>
                                    <p class="small mb-0">Esto va del palpitar en el pecho al ritmo de los altavoces, el
                                        latir de la música entrelazado con las risas de los amigos
                                        Se trata de imágenes que perdurarán en nuestra memoria. Se trata de construir
                                        lazos de amistad que perduran en el espacio y tiempo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}