{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="position-relative" style="overflow: hidden; height: 600px;">
                    <img src="{{ dj.photo.url }}" class="img-fluid w-100 h-100 rounded" style="object-fit: cover;"
                         alt="{{ dj.name }}">
                    <div class="position-absolute bottom-0 start-0 p-3">
                        <h1 class="text-white"
                            style="font-family: sans-serif; font-size: 3em; font-weight: 900;text-shadow: 2px 2px 0px orange;">{{ dj.name.upper }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-8">
                <div class="text-white">
                    <div class="card-body">
                        <p><strong>Nacionalidad:</strong> {{ dj.nationality }}</p>
                        <p><strong>Estilo:</strong> {{ dj.style }}</p>
                        <p><strong>Mejor conocido por:</strong> {{ dj.best_known }}</p>
                        <p><strong>Descripción:</strong></p>
                        <p class="card-text text-justify">{{ dj.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}